body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(80, 79, 79);
}
.btns {
  display: flex;
  position: relative;
  top: 50px;
}
#Board {
  border-collapse: collapse;
  border: 4px solid black;
}
td:nth-child(3) {
  border-right: 4px solid black;
}
td:nth-child(6) {
  border-right: 4px solid black;
}
tr:nth-child(3) {
  border-bottom: 4px solid black;
}
tr:nth-child(6) {
  border-bottom: 4px solid black;
}
td {
  border-right: 2px solid black;
}
tr {
  border-bottom: 2px solid black;
}
.cell {
  width: 60px;
  height: 60px;
  font-size: 45px;
  text-align: center;
  caret-color: transparent;
  border: none;
  color: rgb(0, 68, 255);
}
